<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.taskmanager.mapper.UserMapper">
    <select id="findPasswordByUsername" resultType="String">
        SELECT password FROM user WHERE username = #{username}
    </select>

    <select id="findUserByUsername" resultType="com.example.taskmanager.model.User">
        SELECT user_Id,name,username,password  FROM user  WHERE username = #{username}
    </select>
    <insert id="insertTask" >
        INSERT INTO task(title,description,status) VALUES (#{task.title},#{task.description},#{task.status});
    </insert>

</mapper>