<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/js/login.js"></script>
</head>
<body>
<div class="form" id="form-1">
    <div class="form-panel one">
        <div class="form-header">
            <h1>Account Login</h1>
        </div>
        <div class="form-content">
            <form name ="myForm" th:action="@{/authen/check}" th:object="${acc}" method = "POST" >
<!--                @{/j_spring_security_check}-->
<!--                @{/authen/check}-->
<!--                $2a$10$2BGDnZBJAA2QVIbMHU5iI.wSCu/67hdebaiGOwRRgd3zizRuDLKgO-->
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input id="username" type="text"  th:field="*{userName}"  />
                    <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                </div>
                <div class="form-group">
                    <label for="passWord">Password</label>
                    <input id="password" type="password" th:field="*{passWord}" />
                    <span class="text-danger" th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}"></span>
                </div>
                <div class="form-group">
                    <button type="submit" >Log In</button>
                </div>
                <div class="form-group">
                    <a th:href="@{/authen/register}">Register</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

</body>
</html>