<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
</head>
<body>
<div class="form" id="form-1">
    <div class="form-panel one">
        <div class="form-header">
            <h1>Account Login</h1>
        </div>
        <div class="form-content">
            <form name ="myForm" th:action="@{/j_spring_security_check}" th:object="${acc}" method = "POST" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input id="username" type="text"  th:field="*{userName}"  />
                </div>
                <div class="form-group">
                    <label for="passWord">Password</label>
                    <input id="password" type="password" th:field="*{passWord}"  />
                </div>
                <div class="form-group">
                    <button type="submit" >Log In</button>
                </div>
                <div class="form-group">
                    <a th:href="@{/authen/register}">Register</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

</body>
</html>