<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="/register.css">
    <script src="/js/register.js"></script>
</head>
<body>
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Account Register</h1>
        </div>
        <div class="form-content">
            <form name = "myForm" th:action="@{/authen/add}" th:object="${user}"    method = "POST" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name = "name"/>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="userName"  type="text"  name = "userName"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="passWord"  type="password" name = "passWord"/>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" type="password" name="confirmPassword"/>
                </div>
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
                <div class="form-group">
                    <a th:href="@{/authen/login}">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>