<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table" border = -1>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${show}">
            <th scope="row" th:text="${task.id}"></th>
            <td>
                <p th:text="${task.title}"></p>
            </td>
            <td>
                <p th:text="${task.status.value}"></p>
            </td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-primary">Detail</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <nav aria-label="Page navigation example" >
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/all/task/page">First</a></li>
            <li class="page-item"><a class="page-link" href="/all/task/page?p=1">1</a></li>
            <li class="page-item"><a class="page-link" href="/all/task/page?p=2">2</a></li>
            <li class="page-item"><a class="page-link" href="/all/task/page?p=3">3</a></li>
            <li class="page-item"><a class="page-link" href="/all/task/page?p=4">4</a></li>
        </ul>
    </nav>
</div>

</body>
</html>